[Desktop Entry]
Encoding=UTF-8
Name=Link to [c++][xml][TinyXML] XML 사용하기 -기초, -예제 : 네이버 블로그
Type=Link
URL=http://blog.naver.com/PostView.nhn?blogId=chansung0602&logNo=221014997196&categoryNo=0&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView
Icon=text-html
