[Desktop Entry]
Encoding=UTF-8
Name=Link to 포스팅 하나로 끝내는 C 소켓 프로그래밍 [채팅프로그래밍 예제] : 네이버 블로그
Type=Link
URL=https://m.blog.naver.com/PostView.nhn?blogId=stop2y&logNo=221105953920&proxyReferer=https%3A%2F%2Fwww.google.com%2F
Icon=text-html
