[Desktop Entry]
Encoding=UTF-8
Name=Link to C Program to display hostname and IP address - GeeksforGeeks
Type=Link
URL=https://www.geeksforgeeks.org/c-program-display-hostname-ip-address/
Icon=text-html
