[Desktop Entry]
Encoding=UTF-8
Name=Link to KISA 후이즈검색 whois.kisa.or.kr
Type=Link
URL=https://xn--c79as89aj0e29b77z.xn--3e0b707e/kor/openkey/keyCreOk.do
Icon=text-html
