[Desktop Entry]
Encoding=UTF-8
Name=Link to C언어 - 소켓 프로그래밍(Server & Client 문자열 주고 받기) 예제
Type=Link
URL=https://y0ubat.tistory.com/76?category=516210
Icon=text-html
