[Desktop Entry]
Encoding=UTF-8
Name=Link to command line - How to write literal \n in a file as text from the terminal? - Ask Ubuntu
Type=Link
URL=https://askubuntu.com/questions/533302/how-to-write-literal-n-in-a-file-as-text-from-the-terminal
Icon=text-html
